<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_big_homework</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>exam_web</description>
  <resource-ref>
    <res-ref-name>jdbc/exam</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>student_regist</servlet-name>
    <servlet-class>regist.regist_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_regist</servlet-name>
    <url-pattern>/student_regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacher_regist</servlet-name>
    <servlet-class>regist.regist_teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacher_regist</servlet-name>
    <url-pattern>/teacher_regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MistakeCollect</servlet-name>
    <servlet-class>servlet.Mistakecollect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MistakeCollect</servlet-name>
    <url-pattern>/MistakeCollect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showPaper</servlet-name>
    <servlet-class>servlet.ShowPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPaper</servlet-name>
    <url-pattern>/showPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoExam</servlet-name>
    <servlet-class>servlet.DoExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoExam</servlet-name>
    <url-pattern>/DoExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowMygrade</servlet-name>
    <servlet-class>servlet.ShowMygrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMygrade</servlet-name>
    <url-pattern>/ShowMygrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelfTest</servlet-name>
    <servlet-class>servlet.SelfTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelfTest</servlet-name>
    <url-pattern>/SelfTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadSelfInfo</servlet-name>
    <servlet-class>servlet.UploadSelfInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSelfInfo</servlet-name>
    <url-pattern>/UploadSelfInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllPaper</servlet-name>
    <servlet-class>servlet.ShowAllPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllPaper</servlet-name>
    <url-pattern>/ShowAllPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectClassAndPaper</servlet-name>
    <servlet-class>servlet.SelectClassAndPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectClassAndPaper</servlet-name>
    <url-pattern>/SelectClassAndPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCorrectPaper</servlet-name>
    <servlet-class>servlet.ShowCorrectPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCorrectPaper</servlet-name>
    <url-pattern>/ShowCorrectPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertQuestion</servlet-name>
    <servlet-class>servlet.InsertQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestion</servlet-name>
    <url-pattern>/InsertQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaper</servlet-name>
    <servlet-class>servlet.createPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaper</servlet-name>
    <url-pattern>/createpaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaperXzt</servlet-name>
    <servlet-class>servlet.createPaperXzt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaperXzt</servlet-name>
    <url-pattern>/createpaperXzt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaperTkt</servlet-name>
    <servlet-class>servlet.createPaperTKt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaperTkt</servlet-name>
    <url-pattern>/createpaperTkt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaperBct</servlet-name>
    <servlet-class>servlet.createPaperBct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaperBct</servlet-name>
    <url-pattern>/createpaperBct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaperJdt</servlet-name>
    <servlet-class>servlet.createPaperJdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaperJdt</servlet-name>
    <url-pattern>/createpaperJdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createpaperPdt</servlet-name>
    <servlet-class>servlet.createPaperPdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createpaperPdt</servlet-name>
    <url-pattern>/createpaperPdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Create</servlet-name>
    <servlet-class>servlet.create</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Designtest</servlet-name>
    <servlet-class>servlet.Designtest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Designtest</servlet-name>
    <url-pattern>/Designtest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUserInfo</servlet-name>
    <servlet-class>servlet.ShowUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserInfo</servlet-name>
    <url-pattern>/ShowUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentedit</servlet-name>
    <servlet-class>servlet.studentEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentedit</servlet-name>
    <url-pattern>/studentedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentupdata</servlet-name>
    <servlet-class>servlet.studentUpdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentupdata</servlet-name>
    <url-pattern>/studentupdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentadd</servlet-name>
    <servlet-class>servlet.studentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentadd</servlet-name>
    <url-pattern>/studentadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentdelete</servlet-name>
    <servlet-class>servlet.studentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentdelete</servlet-name>
    <url-pattern>/studentdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submit_Paper</servlet-name>
    <servlet-class>servlet.submit_paper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submit_Paper</servlet-name>
    <url-pattern>/submit_Paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>correct_Paper</servlet-name>
    <servlet-class>servlet.correct_paper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>correct_Paper</servlet-name>
    <url-pattern>/correct_Paper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cP</servlet-name>
    <servlet-class>servlet.cp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cP</servlet-name>
    <url-pattern>/cP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ucP</servlet-name>
    <servlet-class>servlet.ucp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ucP</servlet-name>
    <url-pattern>/ucP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CorrectPaper</servlet-name>
    <servlet-class>servlet.CorrectPaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorrectPaper</servlet-name>
    <url-pattern>/CorrectPaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bct_jdt</servlet-name>
    <servlet-class>servlet.bct_jdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bct_jdt</servlet-name>
    <url-pattern>/Bct_jdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentGrade</servlet-name>
    <servlet-class>servlet.ShowStudentGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentGrade</servlet-name>
    <url-pattern>/ShowStudentGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherupdata</servlet-name>
    <servlet-class>servlet.teacherUpdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherupdata</servlet-name>
    <url-pattern>/teacherupdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherEdit</servlet-name>
    <servlet-class>servlet.teacheredit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherEdit</servlet-name>
    <url-pattern>/teacherEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Managerteacher</servlet-name>
    <servlet-class>servlet.ManagerTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Managerteacher</servlet-name>
    <url-pattern>/Managerteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherAdd</servlet-name>
    <servlet-class>servlet.teacheradd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherAdd</servlet-name>
    <url-pattern>/teacherAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managepaper</servlet-name>
    <servlet-class>servlet.managePaper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managepaper</servlet-name>
    <url-pattern>/managepaper</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paperupdate</servlet-name>
    <servlet-class>servlet.paperUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paperupdate</servlet-name>
    <url-pattern>/paperupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paperedit</servlet-name>
    <servlet-class>servlet.paperEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paperedit</servlet-name>
    <url-pattern>/paperedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_paper_delete</servlet-name>
    <servlet-class>servlet.Manage_paper_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_paper_delete</servlet-name>
    <url-pattern>/manage_paper_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_Xzt</servlet-name>
    <servlet-class>servlet.manage_xzt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_Xzt</servlet-name>
    <url-pattern>/manage_Xzt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_Tkt</servlet-name>
    <servlet-class>servlet.manage_tkt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_Tkt</servlet-name>
    <url-pattern>/manage_Tkt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_Pdt</servlet-name>
    <servlet-class>servlet.manage_pdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_Pdt</servlet-name>
    <url-pattern>/manage_Pdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_Bct</servlet-name>
    <servlet-class>servlet.manage_bct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_Bct</servlet-name>
    <url-pattern>/manage_Bct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_Jdt</servlet-name>
    <servlet-class>servlet.manage_jdt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_Jdt</servlet-name>
    <url-pattern>/manage_Jdt</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>xztEdit</servlet-name>
    <servlet-class>servlet.xztedit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xztEdit</servlet-name>
    <url-pattern>/xztEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tktedit</servlet-name>
    <servlet-class>servlet.tktEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tktedit</servlet-name>
    <url-pattern>/tktedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pdtedit</servlet-name>
    <servlet-class>servlet.pdtEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdtedit</servlet-name>
    <url-pattern>/pdtedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jdtedit</servlet-name>
    <servlet-class>servlet.jdtEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jdtedit</servlet-name>
    <url-pattern>/jdtedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bctedit</servlet-name>
    <servlet-class>servlet.bctEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bctedit</servlet-name>
    <url-pattern>/bctedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageredit</servlet-name>
    <servlet-class>servlet.managerEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageredit</servlet-name>
    <url-pattern>/manageredit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>managerupdata</servlet-name>
    <servlet-class>servlet.managerUpdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerupdata</servlet-name>
    <url-pattern>/managerupdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Send</servlet-name>
    <servlet-class>message.send</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Send</servlet-name>
    <url-pattern>/Send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find</servlet-name>
    <servlet-class>regist.find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>teacherdelete</servlet-name>
    <servlet-class>servlet.teacher_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherdelete</servlet-name>
    <url-pattern>/teacherdelete</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>filter.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/Student/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>TeacherFilter</display-name>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>filter.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/teacher/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ManagerFilter</display-name>
    <filter-name>ManagerFilter</filter-name>
    <filter-class>filter.ManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagerFilter</filter-name>
    <url-pattern>/Manager/*</url-pattern>
  </filter-mapping>
</web-app>